.btn-primary:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.card {
    transition: transform 0.2s, box-shadow 0.2s;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}


.text-decoration-line-through {
    font-weight: 500;
}
