{% extends 'base.html' %}
{% block title %}Edit Course{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-lg-7">

            <div class="card shadow border-0">
                <div class="card-header bg-success text-white">
                    <h5 class="mb-0">Edit Course</h5>
                </div>

                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <button type="submit" class="btn btn-success w-100">
                            Update Course
                        </button>

                        <a href="{% url 'main:dashboard' %}" class="btn btn-secondary w-100 mt-2">
                            Back to Dashboard
                        </a>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
