{% extends 'base.html' %}
{% block content %}
<h2>Reset Your Password</h2>
<form method="post">
    {% csrf_token %}
    {{ form.email.label_tag }}<br>
    {{ form.email }}<br><br>
    <button type="submit">Send Reset Link</button>
</form>
{% endblock %}
{% autoescape off %}
Hi {{ user.get_username }},
Please click the link below to reset your password:

{{ protocol }}://{{ domain }}{% url 'main:password_reset_confirm' uidb64=uid token=token %}

If you didn't request this, ignore this email.
{% endautoescape %}
