<form id="esewaForm" method="POST" action="{{ esewa_url }}">
    <input type="hidden" name="amt" value="{{ amt }}">
    <input type="hidden" name="tAmt" value="{{ amt }}">
    <input type="hidden" name="psc" value="0">
    <input type="hidden" name="pdc" value="0">
    <input type="hidden" name="pid" value="{{ pid }}">
    <input type="hidden" name="scd" value="{{ scd }}">
    <input type="hidden" name="su" value="{{ su }}">
    <input type="hidden" name="fu" value="{{ fu }}">
</form>

<p>Redirecting to eSewa... Please do not refresh.</p>

<script>
    document.getElementById("esewaForm").submit();
</script>
