/* Hero Section */
.course-hero-section {
    background-image: url("../images/course.jpg");
    background-size: cover;
    background-position: center;
    padding: 130px 0;
}

.course-hero-section {
    background-size: cover;
    background-position: center;
    padding: 130px 0;
    position: relative;
}

.course-hero-section .overlay {
    background: rgba(60, 0, 0, 0.55);
    padding: 130px 0;
}

.hero-title {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    justify-content: center;
    display: flex;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.6); 
}

.hero-subtitle {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5); 
}


/* Filter Buttons */
.filter-box {
    background: #fff;
    border: 1px solid #e0dccf;
}

.filter-btn {
    border: 1px solid transparent;
    background: none;
    padding: 6px 22px;
    border-radius: 6px;
    font-size: 15px;
    color: #333;
}

.filter-btn.active,
.filter-btn:hover {
    background: #ffcc00;
    border-color: #ffcc00;
}

.filter-btn {
  background-color: #f5f5f5;
  color: #333;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s;
}

.filter-btn.active {
  background-color: #fbbc04; 
  color: #fff;
}





/* Course Card */
.course-card {
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
}

.course-img {
    position: relative;
}

.course-img img {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.rating-badge {
    position: absolute;
    right: 15px;
    top: 15px;
    background: #fff;
    color: #d46d22;
    font-size: 14px;
    padding: 4px 8px;
    font-weight: 600;
    border-radius: 5px;
}

.course-category {
    color: #b48f6a;
    font-size: 14px;
}

.course-title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}


.enroll-btn {
    background: #2d0e0e;
    color: #fff;
    padding: 10px 0;
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    transition: 0.3s ease;
}

.enroll-btn:hover {
    background: #ffc107; 
    color: #2d0e0e;     
}

