body {
  background: #fff;
}

/* CARD */
.auth-card {

  max-width: 1000px;
  width: 100%;
  margin: auto;
  padding: 50px;

  background: #6b0a0a;
  /* padding: 40px; */
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

/* AVATAR */
.avatar-upload {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.avatar-preview {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fff;
  margin: auto;
}

.avatar-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: #ffc107;
  color: #000;
  border-radius: 50%;
  padding: 6px;
  font-size: 14px;
}

/* FORM GRID */
.profile-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* INPUTS */
.form-label {
  color: #fff;
  font-weight: 600;
}

.auth-card input,
.auth-card textarea,
.auth-card select {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  border: none;
}

/* BUTTON */
button.btn-warning {
  border-radius: 12px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .profile-grid {
    grid-template-columns: 1fr;
  }

  .auth-card {
    padding: 25px;
  }
}
