* { box-sizing: border-box; }
html, body { overflow-x: hidden; }

/* CONTAINER */
.dashboard-container {
  max-width: 1300px;
  margin: auto;
  padding: 20px;
}

/* HERO */
.institute-hero {
  overflow: hidden;
  margin-bottom: 40px;
}

.hero-bg {
  height: 400px;
  background-size: cover;
  background-position: center;
  filter: brightness(0.65);
}

.hero-logo {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translateX(-50%);
}

.hero-logo img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  object-fit: cover;
}

.hero-content {
  padding: 90px 25px 25px;
  background-color: rgb(193, 193, 189);

}

.hero-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 2px;
  font-size: 20px;
}

/* DOCUMENTS */
.documents-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  text-align: center;
}

.doc-box img {
  max-height: 90px;
  max-width: 100%;
  border-radius: 8px;
}

/* GRID */
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.dashboard-card {
  border-radius: 12px;
}

/* SCROLL */
.scroll-box {
  max-height: 260px;
  overflow-y: auto;
}

/* ITEM */
.list-item {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .dashboard-grid,
  .documents-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .dashboard-grid,
  .documents-grid {
    grid-template-columns: 1fr;
  }

  .hero-logo {
    top: 130px;
  }

  .hero-content {
    padding-top: 80px;
  }
}
