* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

/* CARD */
.apply-card {
  background: #6b0a0a;
  border-radius: 20px;
  padding: 2rem;
  max-width: 95%;
  margin: auto;
  position: relative;
}

/* HERO */
.hero {
  position: relative;
  height: 480px;
  border-radius: 15px;
}

.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.bg-camera {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: white;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}


.logo-circle {
  position: absolute;
  bottom: -60px;   
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 120px;
  background: #444;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.logo-inner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: #dc3545;
}

.logo-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-camera {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: white;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
}

/* FORM */
form {
  margin-top: 90px;
}

.form-label {
  color: #fff;
  font-weight: bold;
}

.form-control {
  border-radius: 10px;
}

/* GRID */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* IMAGE PREVIEW */
.img-preview {
  max-height: 110px;
  margin-top: 8px;
  border-radius: 8px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .logo-circle {
    top: 230px;
  }

  .apply-card {
    padding: 1.5rem;
  }
}
