/* HERO */
.hero {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 100px;
}
.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bg-camera {
  position: absolute;
  bottom: 1px;
  right: -1px;
  background: rgba(255,255,255,0.95);
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.logo-circle {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 112px;
  height: 110px;
  border-radius: 50%;
  background: #4f4444;
  display:flex;
  align-items:center;
  justify-content:center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  z-index: 20;
}
.logo-inner {
  width:100px;
  height:100px; 
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:80px;
  color:#d9534f;
  overflow:hidden;
  position:relative;
}
.logo-camera {
  position: absolute;
  bottom: -10px;
  right: 20px;
  background: rgba(255,255,255,0.95);
  border-radius: 8px;
  padding:6px;
  cursor:pointer;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
  z-index: 30;
}
.apply-card {
  background:#6b0a0a;
  border-radius:20px;
  padding:2rem;
  max-width:700px;
  margin:0 auto;
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
}
.apply-card input, .apply-card select, .apply-card textarea {
  border-radius:10px !important;
  padding:10px !important;
  border:1px solid #ddd;
}
.form-label{
    color: #fbfbfb;
    font-weight: bolder;
}
.apply-card input:focus, .apply-card select:focus, .apply-card textarea:focus {
  border-color:#dc3545;
  box-shadow:0 0 5px rgba(220,53,69,0.4);
}
.img-preview {
  max-width:100%;
  border-radius:8px;
  display:block;
  margin-top:8px;
  object-fit:cover;
}
